@media screen and (min-width: 600px) {
  html,
  body {
    background-color: #ffffff;
  }

  h1 {
    font-size: 36px;
    line-height: 63px;
  }

  .header-description p {
    font-size: 14px;
    max-width: 600px;
  }

  .image-banner {
    max-width: 969px;
  }

  h5 {
    font-size: 10px;
    line-height: 12px;
  }

  .wrap-time p {
    font-size: 14px;
    line-height: 17px;
  }

  .ingredient-item p {
    font-size: 16px;
    max-width: 520px;
  }

  .step-by-step p {
    max-width: 540px;
  }

  .material-symbols-outlined {
    font-size: 28px !important;
  }
}

@media screen and (min-width: 768px) {
  .times {
    flex-direction: column;
    margin-top: 0;
  }

  .item {
    padding: 21px 0;
    margin: 0 40px;
  }

  .time-cook {
    background-color: white;
    max-width: 216px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 12px;
    float: right;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}
